h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 54px;
    color: #ecc91d;
}

p {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    color:#1d11c5;
}

p {
    font-size: 60px;
}

.box-orange{
    width: 300px;
    height: 300px;
    float: left;
    background-color: #ff9966;
}

.box-blue{
    width: 300px;
    height: 300px;
    float: left;
    background-color: #3a3ded;
}

.box-yellow{
    width: 300px;
    height: 300px;
    float: left;
    background-color: gold;
}


