@charset "UTF-8";

body {
    background-color: white;
    color: rgba(0,0,0,1);
}
p {
    text-align: justify;
    text-indent: 50px;
}

/* formatação de imagens com legendas */

figure.foto-legenda {
    border: 8px solid red;
}

figure.foto-legenda img {
    width: 100%;
    height: 100%;
}